//Variables
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Cormorant Garamond', serif;
$secondayFont: 'Cabin', sans-serif;

//Mixins


//Parent Styles
body {
  background: $backgroundColor;
  color: $bodyColor;
}
