//Variables
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Cormorant Garamond', serif;
$secondayFont: 'Cabin', sans-serif;

//Includes

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-weight: 600;
  font-size:50px;
}

h1 {
  font-weight: 500;
  letter-spacing: -2px;
}
